// colors
$dark:#000000;
$light:#ffffff;
$primary:#3366CC;
$sky_blue:#E9F3FF;
$gray:gray;
$gray_500:#cccccc;
$gray_1000:#AABADD;
$purple:#AAAAEE;
$purple_500:#E9E9FF;

$xxs:12px;
$s:14px;
$xs:18px;
$sm : 20px;
$sm_500: 22px;
$sm_1000: 22px;
$md:26px;
$md_500:28px;
$md_1000:30px 